
<header>
    <div class="d-flex justify-content-center header-bg-colour py-md-2">
        <a href="/">
            <img src="{{site.url}}/assets/img/logo.png" class="img-fluid" alt="dragonsigns logo">
        </a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark header-bg-colour2">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-center py-md-2" id="navbarNav">
            <ul class="navbar-nav">
                {% if page.active == "home" %}
                <li class="active"><a href="#">Home</a></li>
                {% else %}
                <li><a href="/">Home</a></li>
                {% endif %}

                {% if page.active == "about" %}
                <li class="active"><a href="#">About</a></li>
                {% else %}
                <li><a href="../about.html">About</a></li>
                {% endif %}

                {% if page.active == "our-work" %}
                <li class="active"><a href="#">Rent an RV</a></li>
                {% else %}
                <li><a href="../our-work.html">Rent an RV</a></li>
                {% endif %}

                {% if page.active == "our-process" %}
                <li class="active"><a href="#">Services</a></li>
                {% else %}
                <li><a href="../our-process.html">Services</a></li>
                {% endif %}

                {% if page.active == "case-studies" %}
                <li class="active"><a href="#">RV 101</a></li>
                {% else %}
                <li><a href="../case-studies.html">RV 101</a></li>
                {% endif %}

                {% if page.active == "digital" %}
                <li class="active"><a href="#">Explore</a></li>
                {% else %}
                <li><a href="../digital.html">Explore</a></li>
                {% endif %}

                {% if page.active == "blog" %}
                <li class="active"><a href="#">News</a></li>
                {% else %}
                <li><a href="../news/">News</a></li>
                {% endif %}

                {% if page.active == "contact" %}
                <li class="active"><a href="#">Contact Us</a></li>
                {% else %}
                <li><a href="../contact.html">Contact Us</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>