@import 'custom/vendors/juice';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600|Roboto&display=swap');

.font-heavy{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  text-align: center;

  @include media-breakpoint-up(lg){
    font-size: rem-calc(56px);
  }
}

.font-light{
  font-family: 'Josefin Sans', sans-serif;
  font-weight:300;
  text-align: center;

  @include media-breakpoint-up(lg){
    font-size: rem-calc(46px);
  }
}